# Enter files and folders that are ignored by git here #

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# VScode
.vscode

# Session Data files
.RData
*.fst
*.qs
*.xls*
*.doc*

# Rcpp
**/src/*.o
**/src/*.so
**/src/*.dll

# Compilation files of IMPACT NCD model package
Rpackage/IMPACTncd_Ger_model_pkg/man/*.Rd
Rpackage/IMPACTncd_Ger_model_pkg/man/*.o
Rpackage/IMPACTncd_Ger_model_pkg/man/DESCRIPTION
Rpackage/IMPACTncd_Ger_model_pkg/man/NAMESPACE
Rpackage/IMPACTncd_Ger_model_pkg/NAMESPACE
Rpackage/IMPACTncd_Ger_model_pkg/src/*.o
Rpackage/IMPACTncd_Ger_model_pkg/src/*.so
*.Rd
NAMESPACE

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
/rstudio/

# RStudio files
.Rproj.user/
.Rproj.user/**
.Rproj.user/*/suspended-session
.Rproj.user/*/pcs/*
.Rproj.user/*/rmd-*-*
.Rproj.user/*/sources/prop/*
.Rproj.user/*/sources/s-*/s-*

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
*.env
.env

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Roxygen files
*.Rd

# IMPACTncd specific
/outputs/
/secure_data/
/inputs/synthpop/
DELETEme*
*.png
*.tiff
*.jpeg
/inputs/uptake/
*uptake*
/validation_internal/mortality_forecast/

IMPACT NCD Germany GLP1.Rproj

auxil/results_inspection.R

error_example.csv
